.container{
    display: flex;
    min-width: 600px;
    flex-direction: column;
    margin:10px 0 0 100px ;
}
.containerCardS {
    display: grid;
    grid-template-columns:repeat(5, 200px);
    grid-template-rows:repeat(4, 320px);
    gap:20px
}


.cart{
    width: 200px;
    height: 280px;
    list-style-type: none;

    background: #eae9e9;
    border-radius: 15px;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}
.noposter{
    position: absolute;
    top:35%;
    left: 35%;
    z-index:-1;
}
.button{
    width: 95px;
    height: 55px;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    background: #60ab8d;
    color: white;
    font-size: 18px;
    letter-spacing: 0.1rem;
}
.disabled{
        width: 95px;
        height: 55px;
        border: none;
        border-radius: 30px;
        margin-left: 10px;
        background: #92a99f;
        font-size: 18px;
        letter-spacing: 0.1rem;
}
.inputButton{
    display: flex;
    flex-direction:row;
    align-content: center;

}

.button:hover{
    background:  #8fd0be;
}
