
.input {
    width: 500px;
    height: 55px;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: 0.1rem;
    position: relative;
    border: 5px solid #8fd0be;
}




